@import './vars.scss';

.container {
  display: flex;
  gap: 10px;
  padding: 10px;
  height: 64px;
  border-radius: $border-radius-small;
  text-decoration: none;
  color: white;
  transition: $transition;

  &:hover,
  &__active {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
  }
}

.cover {
  border-radius: $border-radius-small;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: 18px;
  }

  &__amount {
    opacity: 0.6;
    font-size: 14px;
  }
}
